@font-face {
  font-family: 'BlackMelody';
  font-weight: 600;
  src: url('/assets/fonts/Black-Melody.otf') format('opentype');
}

@font-face {
  font-family: 'Colab Regular';
  src: url('/assets/fonts/ColabReg.otf') format('opentype');
}

@font-face {
  font-family: 'Colab Bold';
  src: url('/assets/fonts/ColabBol.otf') format('opentype');
}

@font-face {
  font-family: 'Colab Medium';
  src: url('/assets/fonts/ColabMed.otf') format('opentype');
}

@font-face {
  font-family: 'Colab Thin';
  src: url('/assets/fonts/ColabThi.otf') format('opentype');
}
