// https://fontawesome.com/icons?d=gallery

$globe-icon: '\f0ac';
$arrow-right-icon: '\f061';
$search-icon: '\f00e';
$cart-icon: '\f07a';
$play-icon: '\f04b';
$user-icon: '\f007';
$github-icon: '\f09b';
$twitter-icon: '\f099';
