.btn {
  background-color: $white;
  border: 1px solid $light-gray;
  
  &--rectangular {
    width: 118px;
    height: 44px;
    border-radius: 25px;
  }

  &--square {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid $white;
    background: $purple;

    &:after{
      content: 'B';
      color: $white;
      font-size: 22px;
    }
  }

  &--round {
    width: 42px;
    height: 42px;
    border-radius: 25px;
  }

  &--sign-in {
    @include gradient(90deg, #3391f8, #4ab5ec, #51c2ea, #5bd6e5);
    color: $white;
  }
}
