.btn {
  background-color: $white;
  border: 1px solid $light-gray;
  &--rectangular {
    width: 118px;
    height: 44px;
    border-radius: 25px;
  }

  &--round {
    width: 42px;
    height: 42px;
    border-radius: 25px;
  }

  &--sign-in {
    @include gradient(90deg, #3391f8, #4ab5ec, #51c2ea, #5bd6e5);
    color: $white;
  }
}
