.button {
  background-color: $white;
  border: 1px solid $gray;
  &--rectangular {
    width: 100px;
    height:40px;
    border-radius: 20px;
  }

  &--round {
    width: 40px;
    border-radius: 25px;
  }
}
