.main {
  .content {
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;

    &__items {
      display: flex;
      flex-direction: row;
      color: $blue;
    }

    h1 {
      font-family: 'BlackMelody';
      font-size: 180px;
    }
  }

  &__background {
    height: 700px;
    margin-top: -80px;
    background: url('/assets/images/undraw_review.svg') no-repeat center;
  }
}
