.navbar {
  background-color: aqua;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__menus {
    display: flex;
    flex-direction: row;
    li {
      background: green;
      padding: 16px;
    }
  }
  &__options {
    display: flex;
    flex-direction: row;
    button {
      margin-right: 16px;
    }
  }
}

.logo {
  background: red;
  margin-right: 40px;
  padding: 16px;
}
