.navbar {
  // background-color: bisque;
  height: 90px;
  padding: 0px 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__menus {
    display: flex;
    flex-direction: row;

    li {
      padding: 20px;
      // background: aqua;
    }
  }

  &__options {
    display: flex;
    flex-direction: row;

    .btn {
      margin-right: 16px;
      &--sign-in {
        &:before {
          content: $user-icon;
        }
      }
      &--search {
        &:before {
          content: $search-icon;
          color: $light-gray;
        }
      }
      &--cart {
        &:before {
          content: $cart-icon;
          color: $light-gray;
        }
      }
    }
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      padding: 14px;
      margin-right: 20px;
      @include gradient(90deg, #3391f8, #4ab5ec, #51c2ea, #5bd6e5);
    }

    &__text {
      font-size: 30px;
    }
  }
}
